<h3>Services</h3>
<div class="entry">
	<h3>Custom Application Development</h3>
	<h4>Custom web applications for companies that need an extra developer.</h4>
	<p>
		I currently build on the web with Ruby on Rails. I use a combination of commonly used tools on every project. HTML, CSS, and JavaScript. jQuery, Backbone.js, and many different plugins.
	</p>
	<p>
		I'm open to using other technologies if they're the right tool for the job.
	</p>
</div>
<div class="entry">
	<h3>General Software Development</h3>
	<h4>I build software on many different platforms.</h4>
	<p>
		I've built Chrome extensions and Android applications. I've built complete websites. While I would never consider myself an expert just yet, I will help you get past the prototype phase.
	</p>
	<p>
		If you have an idea that you'd like to test against the market, I can make it a reality.
	</p>
</div>
<div class="entry">
	<h3>Programming Lessons</h3>
	<h4>I teach you how to write code.</h4>
	<p>
		I have a passion for teaching. If you're a complete beginner, I'd like to teach you how to write code. Tell me what you'd like to learn, and I'll make sure you learn it.
	</p>
	<p>
		Be prepared to develop a new way of thinking.
	</p>
</div>